/* FONTS */
@font-face {
  font-family: "Bellefair";
  src: url("../fonts/") format("woff2"), url("../fonts/Bellefair-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url("../fonts/BarlowCondensed-Regular.woff2") format("woff2"), url("../fonts/BarlowCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --secondary-bg-color: #000;
  --text-color: #fff;
  --lighten: #D0D6F9;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Barlow Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* SCROLL BAR */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* BUTTON */
.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

/* RETINA BGS */
/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* INDEX BODY */
.index-body {
  background: url("../images/index-bg.jpg") no-repeat center/cover;
}
@media only screen and (max-width: 768px) {
  .index-body {
    background-image: url("../images/index-bg-md.jpg");
  }
}

/* DESTINATION BODY */
.destination-body {
  background: url("../images/destination-bg.jpg") no-repeat center/cover;
}

/* INDEX BODY */
.crew-body {
  background: url("../images/crew-bg.jpg") no-repeat center/cover;
}

/* INDEX BODY */
.technology-body {
  background: url("../images/technology-bg.jpg") no-repeat center/cover;
}

.site-header {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 210px;
  transition: margin-bottom 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .site-header {
    margin-bottom: 66px;
  }
}
@media only screen and (max-width: 768px) {
  .site-header {
    margin-bottom: 10px;
  }
}

/* LOGO */
.logo {
  position: relative;
  left: 5%;
}
.logo__link {
  display: flex;
}
.logo__img {
  width: 48px;
  height: 48px;
}

/* SITENAV */
.sitenav-toggler {
  position: fixed;
  z-index: 101;
  top: 33px;
  right: 24px;
  border: none;
  background-color: transparent;
  flex-direction: column;
  row-gap: 6px;
  display: none;
}
.sitenav-toggler.opened .sitenav-toggler__line:first-child {
  position: relative;
  top: 9px;
  transform: rotate(135deg);
}
.sitenav-toggler.opened .sitenav-toggler__line:nth-child(2) {
  opacity: 0;
}
.sitenav-toggler.opened .sitenav-toggler__line:last-child {
  position: relative;
  top: -9px;
  transform: rotate(-135deg);
}
@media only screen and (max-width: 576px) {
  .sitenav-toggler.opened + .sitenav__list {
    right: 0;
  }
}
.sitenav-toggler__line {
  width: 24px;
  height: 3px;
  background-color: var(--primary-bg-color);
  transition: transform 0.5s ease, position 0.5s ease, opacity 0.5s ease;
}
@media only screen and (max-width: 576px) {
  .sitenav-toggler {
    display: flex;
  }
}

.sitenav__list {
  display: flex;
  align-items: center;
  gap: 48px;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  padding: 38px 255px 38px 143px;
  transition: padding 0.5s ease, gap 0.5s ease;
}
@media only screen and (max-width: 1240px) {
  .sitenav__list {
    padding: 38px 200px 38px 120px;
    gap: 42px;
  }
}
@media only screen and (max-width: 992px) {
  .sitenav__list {
    padding: 38px 100px 38px 80px;
    gap: 37px;
  }
}
@media only screen and (max-width: 768px) {
  .sitenav__list {
    padding: 38px 48px;
    gap: 37px;
  }
}
@media only screen and (max-width: 620px) {
  .sitenav__list {
    padding: 38px 40px;
    gap: 25px;
  }
}
@media only screen and (max-width: 576px) {
  .sitenav__list {
    flex-direction: column;
    position: fixed;
    z-index: 100;
    top: 0;
    height: 100vh;
    width: 70%;
    padding: 35% 0 0 32px;
    align-items: flex-start;
    right: -100%;
    transition: right 0.5s ease;
    gap: 0;
  }
}

@media only screen and (max-width: 576px) {
  .sitenav__item {
    display: block;
    width: 100%;
  }
}

.sitenav__link {
  color: var(--text-color);
  letter-spacing: 2.7px;
  letter-spacing: 2.3px;
  position: relative;
}
.sitenav__link--active::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -41px;
}
@media only screen and (max-width: 768px) {
  .sitenav__link--active::after {
    bottom: -40px;
  }
}
@media only screen and (max-width: 576px) {
  .sitenav__link--active::after {
    height: 100%;
    width: 3px;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
  }
}
@media only screen and (max-width: 576px) {
  .sitenav__link {
    padding: 6px 0;
    display: block;
    min-width: 100%;
  }
}

.intro {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  transition: align-items 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .intro {
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 156px;
  }
}

.intro__content {
  max-width: 450px;
}

.intro__title {
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.1;
  transition: font-size 0.5s ease;
  font-size: 28px;
  letter-spacing: 4.725px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 768px) {
  .intro__title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .intro__title {
    font-size: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .intro__title {
    margin-bottom: 16px;
  }
}

.intro__heading {
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.1;
  transition: font-size 0.5s ease;
  font-family: "Bellefair", serif;
  font-size: 150px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 576px) {
  .intro__heading {
    font-size: 80px;
  }
}
@media only screen and (max-width: 576px) {
  .intro__heading {
    margin-bottom: 16px;
  }
}

.intro__description {
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.1;
  transition: font-size 0.5s ease;
  font-size: 18px;
  line-height: 1.8;
  color: var(--lighten);
}
@media only screen and (max-width: 768px) {
  .intro__description {
    font-size: 16px;
  }
}

.intro__circle {
  --text-color: #000;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  width: 274px;
  height: 274px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Bellefair", serif;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: 2px;
}
@media only screen and (max-width: 992px) {
  .intro__circle {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .intro__circle {
    width: 242px;
    height: 242px;
  }
}
@media only screen and (max-width: 576px) {
  .intro__circle {
    width: 150px;
    height: 150px;
    font-size: 20px;
    letter-spacing: 1.25px;
  }
}/*# sourceMappingURL=main.css.map */