.site-header {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 210px;
  transition: margin-bottom 0.5s ease, padd;

  @media only screen and (max-width: $tablet) {
    padding: 24px 0;
    margin-bottom: 76px;
  }

  @media only screen and (max-width: $mobile) {
    margin-bottom: 30px;
  }
}

/* LOGO */
.logo {
  position: relative;
  left: 5%;
  
  &__link {
    border-radius: 50%;
    display: flex;
  }

  &__img {
    width: 48px;
    height: 48px;
  }
}

/* SITENAV */
.sitenav-toggler {
  position: fixed;
  z-index: 101;
  top: 33px;
  right: 24px;
  border: none;
  background-color: transparent;
  flex-direction: column;
  row-gap: 6px;
  display: none;

  &.opened {
    .sitenav-toggler__line {
      &:first-child {
        position: relative;
        top: 9px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        position: relative;
        top: -9px;
        transform: rotate(-135deg);
      }
    }

    @media only screen and (max-width: $mobile) {
      & + .sitenav__list {
        right: 0;
      }
    }
  }

  &__line {
    width: 24px;
    height: 3px;
    background-color: var(--primary-bg-color);
    transition: transform 0.5s ease, position 0.5s ease, opacity 0.5s ease;
  }

  @media only screen and (max-width: $mobile) {
    display: flex;
  }
}

.sitenav__list {
  display: flex;
  align-items: center;
  gap: 48px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);
  padding: 38px 255px 38px 143px;
  transition: padding 0.5s ease, gap 0.5s ease;

  @media only screen and (max-width: $desktop) {
    padding: 38px 200px 38px 120px;
    gap: 42px;
  }

  @media only screen and (max-width: $tablet-l) {
    padding: 38px 100px 38px 80px;
    gap: 37px;
  }

  @media only screen and (max-width: $tablet) {
    padding: 38px 48px;
    gap: 37px;
  }

  @media only screen and (max-width: 620px) {
    padding: 38px 40px;
    gap: 25px;
  }

  @media only screen and (max-width: $mobile) {
    flex-direction: column;
    position: fixed;
    z-index: 100;
    top: 0;
    height: 100vh;
    width: 70%;
    padding: 35% 0 0 32px;
    align-items: flex-start;
    right: -100%;
    transition: right 0.5s ease;
    gap: 0;
  }
}

.sitenav__item {
  @media only screen and (max-width: $mobile) {
    display: block;
    width: 100%;
  }
}

.sitenav__link {
  color: var(--text-color);
  letter-spacing: 2.7px;
  letter-spacing: 2.3px;
  position: relative;

  &-inner {
    font-weight: 700;
  }

  &::after {
    content: "";
    display:inline-block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    opacity: 0;
    bottom: -41px;
    transition: opacity 0.5s ease;

    @media only screen and (max-width: $tablet) {
      bottom: -40px;
    }

    @media only screen and (max-width: $mobile) {
      height: 100%;
      width: 3px;
      top: 0;
      left: auto;
      bottom: auto;
      right: 0;
    }
  } 
  

  &:hover {
    &::after {
      opacity: 0.5;
    }
  }

  &--active {
    &:hover::after {
      opacity: 0.5;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 3px;
      background-color: #fff;
      position: absolute;
      left: 0;
      opacity: 1;
      bottom: -41px;
      transition: opacity 0.5s ease;

      @media only screen and (max-width: $tablet) {
        bottom: -40px;
      }

      @media only screen and (max-width: $mobile) {
        height: 100%;
        width: 3px;
        top: 0;
        left: auto;
        bottom: auto;
        right: 0;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 6px 0;
    display: block;
    min-width: 100%;
  }
}
